.review-parent-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;

}

.submit-button {
    margin-top: 10px;
    width: 100%;
}

.submit-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-form-body {
    display: flex;
    flex-direction: column;
    /* width: 800px; */

    /* justify-content: space-between; */
    /* margin-top: 20px; */
}

.review-form-body label {
    display: flex;
    flex-direction: column;
}

.review-form-body textarea {
    height: 50px;
}
