.lp-container {
    display: flex;
}
.lp-section1 {
display: flex;
}
.lp-section2 {
    width: 80%;
    display: flex;
}
.lp-section3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}
.lp-section3 >div > button {
    cursor: pointer;
}
.lp-genre {
    display: flex;
}
.lp-genre > button{
    cursor: pointer;
    margin: 0px 10px 5px 0px;
    border: solid 1px #4C4C4C;
    border-radius: 5px;
    background-color: transparent;
    font-size: small;
    color: lightgray;
    height: 30px;
}
.lp-category {
    display: flex;
}
.lp-category > button{
    cursor: pointer;
    margin: 0px 10px 5px 0px;
    border: solid 1px #4C4C4C;
    border-radius: 5px;
    background-color: transparent;
    font-size: small;
    color: lightgray;
    height: 30px;
}
.lp-aside-container{
display: flex;
flex-direction: column;
align-items: flex-end;
/* margin-right: 50px; */
}
.lp-aside-img{
    height: 225px;
    width: 225px;
    object-fit: cover;
    border: solid #4C4C4C 1px;
}
.lp-aside-buttons{
    display: flex;
}
.lp-aside-buttons > button {
        cursor: pointer;
    margin: 2px 5px 5px 0px;
    border: solid 1px #4C4C4C;
    border-radius: 5px;
    background-color: transparent;
    font-size: small;
    color: lightgray;
}
.lp-margin{
    margin: 0px 80px 0px 80px;
}
.lp-reviews{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* align-items: flex-end; */
    text-align: end;
}
