.LPcontainer {
    display: flex;
}

.LPsection1 {
margin: 0px 20px 0px 20px;
display: flex;
}
.LPsection2 {
    margin: 0px 0px 0px 20px;
    width: 80%;
    display: flex;
}
.LPsection3 {
    margin: 0px 20px 0px 20px;
    width: 20%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}
.LPsection3 >div > button {
    cursor: pointer;
}
.LPgenre {
    display: flex;
}
.LPgenre > button{
    cursor: pointer;
    margin: 0px 5px 5px 5px;
    border: solid 1px lightgray;
    border-radius: 5px;
    background-color: transparent;
    font-size: small;
}
.LPcategory {
    display: flex;
}
.LPcategory > button{
    cursor: pointer;
    margin: 0px 5px 5px 5px;
    border: solid 1px lightgray;
    border-radius: 5px;
    background-color: transparent;
    font-size: small;
}
.LPasideContainer{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.LPasideimg{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.LPasideButtons{
    display: flex;
}
/* .LPupperButtons{
    padding: 0px 0px 5px 0px;
} */
