.LPcontainer {
    display: flex;
}

.LPsection1 {
border: solid 2px red;
margin: 0px 20px 0px 20px;
display: flex;
/* flex-wrap: wrap; */
flex-direction: column;
}
.LPsection2 {
    border: solid 1px rgb(83, 235, 40);
    margin: 0px 0px 0px 20px;
    width: 80%;
    display: flex;
    /* row */
    /* wrap */

}
.LPsection3 {
    border: solid 1px blue;
    margin: 0px 20px 0px 0px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.LPsection3 >div > button {
    cursor: pointer;
}
.LPgenre {
    display: flex;
}
.LPgenre > button{
    cursor: pointer;
}
.LPcategory {
    display: flex;
}
.LPcategory > button{
    cursor: pointer;
}

.LPasideimg{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.LPasideButtons{
    display: flex;
}
