.ad-container {
    display: flex;
}

.ad-section1 {
    /* border: solid grey 1px; */
    margin: 0px 20px 0px 20px;
}

.ad-banner {
    object-fit: cover;
    height: 200px;
    /* margin: auto; */
    width: 100%
}

.ad-section2 {
    /* border: solid 1px rgb(83, 235, 40); */
    margin: 0px 0px 0px 20px;
    width: 80%;
    display: flex;
}

.ad-album-data {
    /* border: solid 1px white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ad-album-data> div > button {
    background-color: rgb(60, 57, 57);
    color: inherit;
    margin: 15px 0px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 3px;
    padding: 5px 8px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    flex-direction: column;
}

.ad-album-data> div > button:hover {
    background-color: rgb(113, 109, 109);
}

.ad-album-area {
    /* border: solid 1px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-album-area>img {
    margin-top: 20px;
    width: 250px;
    /* height: auto; */
    height: 180px;
    max-width: 100%;
    border: solid #4C4C4C 1px;
}

.ad-trackList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    /* background-color: lightslategray; */
    border: solid #4C4C4C 1px;
}

.V2-play {
    /* background-color: lightslategray; */
    border: solid #4C4C4C 1px;
    height: 50px;
}

.ad-v2-supporters {
    height: 100px;
    width: 200px;
    border: solid #4C4C4C 1px;
}

.ad-section3 {
    /* border: solid 1px blue; */
    margin: 0px 20px 0px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 10px;

}

.ad-aside-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: solid #4C4C4C 1px;
}

.ad-aside-disco-imgs {
    height: 100px;
    width: 100px;
    object-fit: cover;
    /* margin-top: 20px; */
    border: solid #4C4C4C 1px;
}

.ad-section3>div {
    margin-top: 20px;
}
/** nav css margin will be roughly 20 px larger than these values in admargin */
.ad-margin{
    margin: 0px 60px 0px 60px;
}

.ad-review-button {
    margin-bottom: 10px;
}
/* .AD-CMImg {
    width: 100px;
    max-width: 250px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0;
} */
