.ADcontainer {
    display: flex;
}

.ADsection1 {

    margin: 0px 20px 0px 20px;
}

.ADbanner {
    object-fit: cover;
   height: 200px;
   width: 901px;

}

.ADsection2 {
    /* border: solid 1px rgb(83, 235, 40); */
    margin: 0px 0px 0px 20px;
    width: 80%;
    display: flex;
}

.ADalbumData {
    /* border: solid 1px black; */
    width: 50%;
}

.ADalbumArea {
    /* border: solid 1px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ADalbumArea>img {
    margin-top: 20px;
    width: 250px;
    height: 180px;
    max-width: 100%;
}

.ADtrackList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    background-color: lightslategray;
}

.V2Play {
    background-color: lightslategray;
    height: 50px;
}

.ADv2supporters {
    height: 100px;
    width: 200px;
    border: solid;
}

.ADsection3 {
    /* border: solid 1px blue; */
    margin: 0px 20px 0px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ADasideImg {
    height: 100px;
    width: 100px;
    /* margin-top: 20px; */
}

.ADasideDiscoImgs{
    height: 100px;
    width: 100px;
    /* margin-top: 20px; */
}
.ADsection3 > div{
    margin-top: 20px;
}
