.ADcontainer{
    display: flex;
}

.ADsection1{
    border: solid 1px red;
    margin: 0px 20px 0px 20px;
}
.ADsection2{
    border: solid 1px rgb(83, 235, 40);
    margin: 0px 0px 0px 20px;
    width: 80%;
    display: flex;
}
.ADsection3{
    border: solid 1px blue;
    margin: 0px 20px 0px 0px;
    width: 20%;
}
.ADalbumData{
    border: solid 1px black;
    width: 50%;
}
.ADalbumArea{
    border: solid 1px;
    width: 50%;
}
.ADtrackList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    background-color: lightslategray;
}

.V2Play{
    background-color: lightslategray;
    height: 50px;
}
