.profile-dropdown {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  right: 80px;
  font-size: 10px;
  background-color: #306efdca;
  border: solid 0.5px rgb(218, 217, 217);
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
  margin-top: 28px;
  padding: 5px 0 5px;
  width: 120px;
  height: 90px;
  z-index: 1;
  color: rgb(255, 253, 253);
  align-items: center;
  overflow-x: auto;
  /* justify-content:space-around; */
}

.profile-dropdown button {
  font-size: 13px ;
  font-weight:bold;
  border-radius: 3px;
  background-color: #dedede;
  color: rgb(9, 0, 0);
  width: 65px;
  height: 21px;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);

  border: 1px solid black;
  margin: 10px 0 0px 0;
  /* color: white; */
}

#profile-username {
  font-weight: bold;
  font-size: 13px;
  margin-top: 13px;
  text-decoration: none;
  color: white;

}
#profile-username:hover {
  color: rgb(255, 41, 41);
  cursor: pointer;
}

#profile-email {
  margin-top: 2px;
  font-size: 13px;

}

.profile-button {
  display: flex;
  height: 18px;
  width: 30px;
  /* background-color: transparent; */
  background-color: rgba(246, 243, 243, 0.994);
  border-radius: 5px;
  border: none;
  /* padding-bottom: 5px; */
}

.profile-logo {
  color: #2d6cff;
  background-color: white;
  border-radius: 100%;
  justify-items: center;
  padding-left: 1px;
  /* box-sizing: border-box; */
  /* border: 0.5px solid white; */
  /* box-shadow: 0px 0px 5px 0.5px rgba(255, 255, 255, 0.4); */

}

nav #heart-icon {
  /* display: flex; */
  align-items: center;
  margin-right: 7px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

nav{
  display: flex;
  border-bottom: solid grey 1px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 80px 10px 80px;

}
nav > input {
  background-color: red;
}
.nav-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navSearch{
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: inherit;
  display: flex;
  align-items: center;
  height: 100%;

}
.pointer{
  cursor:pointer;
}

.profile-session-items{
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid white;
  width: 120px;
  height: 45px;

}

.profile-session-items:last-child {
  border-bottom: none;
}

.profile-session-items:hover {
  text-decoration:rgb(255, 2, 2) underline;
  font-weight: bold;
}

.navRight{
  display: flex;
}

.createAlbum{
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

.cartIcon{
  margin-right: 8px;
}
.heartIcon{
  margin-right: 8px;
}
.profileButton{
  margin-right: 5px;
}



.logo{
  width: 50px;
  /* letter-spacing: 0px; */
  display: flex;
  /* align-items: center; */
  padding-right: 10px;
}

.nav-app-logo {
  width: auto;
  height: 37px;
  padding-right: 10px;
}
