/* .profile-dropdown {
  position: absolute;
} */
.logo{
  text-decoration: none;
  color:#FF5A5F;
  font-size: 30px;
}
nav{
  display: flex;
  border-bottom: solid grey;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

}
.pointer{
  cursor:pointer;
}
